body {
    background-color: #8B93D0;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc( (100% - 800px) / 2 );
    margin-top: 80px;
    position: relative;
}
    .left {
        display: inline-block;
        width: 40%;
        color: #fff;
        background-color: #3349A6;
        background-color: red;
        background-image: url(../img/hill.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 0;
    }
        h1 {
            display: inline-block;
            width: 100%;
            padding: 20px;
        }
        footer {
            display: inline-block;

            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 10px;
        }
            footer > a {
                display: inline-block;
                color: #fff;
            }
            footer > span {
                display: inline-block;
            }
    .right {
        display: inline-block;
        width: 60%;
        float: right;
        padding: 80px;
        background-color: #fff;

        position: relative;
    }
        .x {
            display: inline-block;
            width: 80px;
            height: 80px;
            font-size: 40px;
            line-height: 74px;
            text-align: center;

            position: absolute;
            top: 0;
            right: 0;
        }
        .form-row > span {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 25px;
            margin-right: 25px;
            font-size: 20px;
            line-height: 20px;
        }
        .form-row > a {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
            line-height: 20px;
        }